.upload-container {
    position: fixed;
    top: 50%;
    left: 58%;
    margin: 20px 0 0 20px;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    padding:20px 20px 20px 20px;
}