.upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    padding:20px 20px 20px 20px;
}